.thisHeader{
    width: 100%;
    height: 50px;
    background: rgb(27,207,159);
    background: linear-gradient(90deg, rgba(27,207,159,1) 13%, rgba(245,239,78,1) 44%, rgba(246,177,47,1) 68%);
    margin: 0 auto;

}
.logo{
    font-family: Brastagi;
    font-size: 36px;
    color: white;
    margin: 0 auto;
    padding-top: 15px;
    text-align: center;

}
.headerContent{
    margin: 0 15px;
    display: flex;
    justify-content: space-between;
    margin-left: 65px;

}

.iconsRight{
    float: right;
    color: white;
    vertical-align: middle;
}
.icon{
    font-size: 24px;
    width: auto;
    margin-right: 10px;
    margin-top: 10px;

}
.headerImage{
    padding-top: 5px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    float: right;

}
