.ui.card{
    border-radius: 15px !important;
    height: 250px !important;
    line-height: 1.6;

}
.InfoCard{
    text-align: left !important;

}
.cardContent{
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    font-family: Arial;
}
.meta{
    font-size: 14px !important;
}

.header{
    font-size: 20px;
    color: #6D89B9;
}
.description{
    font-size: 18px;
    color: #6D89B9;

}
.cardButton{
    margin-top: 15px !important;
}
