.menuIcon{
}
.menu{
    font-family: Arial;
    color: #366895;
    text-decoration: none;
    font-size: 24px;
}
a{
    color: #366895 !important;
    text-decoration: none;
}
li{
    margin: 0 0 10px 0;
    text-align: left;

}
